

<div class="mBottom10 line gray">
  <h1 class="heading">Sign up for an Account</h1>  
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
	<div class="alarm">
	  <h3>Signup Code<h3/>
	  <p>This will go away when the site is ready for visitors. Follow us <a href="http://twitter.com/trydea_apps">here</a> for new</b>
	<%=text_field(:post, :signup_code, :size => 20)%></p>
  </p>

  <p><%= f.label :username %><br />
  <%= f.text_field :username %></p>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>
   
  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
