<% title "You may change your password", false %>

<div class="mBottom10 line gray">
    <h1 class="heading">Change your password</h1>
</div>
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>

  <div class="alarm">	
    <h2>Reset your password here.</h2>
  	<p>The fields to the left should reset your password.  If you are still having trouble please email <a href="mailto:support@trydea.com?subject=feedback">support@trydea.com</a></p>
  </div> 
<div class="notice">
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>
	
	<p id="password">
	    <%= f.label :password %>
	    <%= f.password_field :password %>
	</p>
	<p id="password_confirmation">
	    <%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation %>
	</p>	
	  <p><%= f.submit "Change my password" %></p>
</div>
	<% end %>
<%= render :partial => "devise/shared/links" %>